<div class="header">
  <a class="nav-link" [routerLink]="['/']" role="button">
    <img class="logo" src="./assets/people-fill.svg" />
  </a>

  <nav>
    <div>
      <div class="" id="navbarNavAltMarkup">
        <div class="navbar-nav d-flex">
          <a
            class="nav-link"
            [routerLink]="['/users']"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >Users</a
          >
        </div>
      </div>
    </div>
  </nav>
</div>
